{% extends "admin/base.html" %}
{% block body %}
<div class="container">
    <form method="post">
      <div class="form-group">
        <label for="exampleFormControlInput1">New Password</label>
        <input name="password" type="password" class="form-control" id="exampleFormControlInput1">
      </div>
        <a class="btn btn-primary mb-2" href="{{ url_for('list_users') }}" role="button">Go Back</a>
        <button type="submit" class="btn btn-primary mb-2">Change Password</button>
    </form>
</div>
{% endblock %}