<div class="container">
    <div class="row">
        <div class="col-12 datePickerDiv">
            <div class="w-100">
                <h6 class="text-center">Choose Apponintment Date & Time</h6>


                    <div class="w-100 d-flex justify-content-center align-items-center">

                        <div id="datePick" onSelect="dateSelect(event)"></div>
                    </div>

             </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="ApponintmentShifts">
                    <ul class="d-flex justify-content-between">
                        <li id="morningShift" onclick="selectShift(event)" class="selectedShift">Morning</li>
                        <li id="afternoonShift" onclick="selectShift(event)">Afternoon</li>
                        <li id="eveningShift" onclick="selectShift(event)">Evening</li>
                    </ul>
                 </div>
            </div>

        </div>
    </div>

    <div class="container timePicker">
        <div class="row">
            <div class="col-12">
            <div class="SelectTime">
               <ul>
                   <li class="morning" onclick="selectTime(event)">09:00 AM</li>
                   <li class="morning" onclick="selectTime(event)">09:30 AM</li>
                   <li class="morning" onclick="selectTime(event)">10:00 AM</li>
                   <li class="morning" onclick="selectTime(event)">10:30 AM</li>
                   <li class="morning" onclick="selectTime(event)">11:00 AM</li>
                   <li class="morning" onclick="selectTime(event)">11:30 AM</li>
                   <li class="afternoon" onclick="selectTime(event)">12:00 PM</li>
                   <li class="afternoon" onclick="selectTime(event)">12:30 PM</li>
                   <li class="afternoon" onclick="selectTime(event)">01:00 PM</li>
                   <li class="afternoon" onclick="selectTime(event)">01:30 PM</li>
                   <li class="afternoon" onclick="selectTime(event)">02:00 PM</li>
                   <li class="afternoon" onclick="selectTime(event)">02:30 PM</li>
                   <li class="afternoon" onclick="selectTime(event)">03:00 PM</li>
                   <li class="afternoon" onclick="selectTime(event)">03:30 PM</li>
                   <li class="evening" onclick="selectTime(event)">04:00 PM</li>
                   <li class="evening" onclick="selectTime(event)">04:30 PM</li>
                   <li class="evening" onclick="selectTime(event)">05:00 PM</li>
                   <li class="evening" onclick="selectTime(event)">05:30 PM</li>
                   <li class="evening" onclick="selectTime(event)">06:00 PM</li>
                   <li class="evening" onclick="selectTime(event)">06:30 PM</li>
                   <li class="evening" onclick="selectTime(event)">07:00 PM</li>
                   <li class="evening" onclick="selectTime(event)">07:30 PM</li>
                   <li class="evening" onclick="selectTime(event)">08:00 PM</li>
                   <li class="evening" onclick="selectTime(event)">08:30 PM</li>
                   <li class="evening" onclick="selectTime(event)">09:00 PM</li>
                   <li class="evening" onclick="selectTime(event)">09:30 PM</li>
                   <li class="evening" onclick="selectTime(event)">10:00 PM</li>
               </ul>
            </div>
            </div>
        </div>

    </div>

</div>