<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Change password</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span id="xSign"aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <form method="post">
          {{ form.csrf_token }}
          <div class="md-form mb-5">
            <input type="password" name="old_password" id="Form-email1" class="form-control validate">
            <label data-error="wrong" data-success="right" for="Form-email1">Your old password</label>
            {% for error in form.old_password.errors %}
              <p class="errorMsg">*{{ error }}</p>
            {% endfor %}
          </div>

          <div class="md-form">
            <input type="password" name="password" id="Form-pass1" class="form-control validate">
            <label data-error="wrong" data-success="right" for="Form-pass1">Your new password</label>
            {% for error in form.password.errors %}
              <p class="errorMsg">*{{ error }}</p>
            {% endfor %}
          </div>

          <div class="md-form pb-3">
            <input type="password" name="confirm" id="Form-pass2" class="form-control validate">
            <label data-error="wrong" data-success="right" for="Form-pass1">Confirm your password</label>
            {% for error in form.confirm.errors %}
              <p class="errorMsg">*{{ error }}</p>
            {% endfor %}
          </div>

          <div class="text-center mb-3">
            <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Change password</button>
          </div>
        </form>
      </div>
      <!--Footer-->
<!--      <div class="modal-footer mx-5 pt-3 mb-1">-->
<!--        <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="#" class="blue-text ml-1">-->
<!--            Sign Up</a></p>-->
<!--      </div>-->
    </div>
    <!--/.Content-->
  </div>
</div>